@keyframes button-spinner
    0%
        transform: rotate(0deg)
        clip: rect(0px, 10px, 10px, 0px)
    50%
        transform: rotate(360deg)
        clip: rect(0px, 20px, 20px, 0px)
    100%
        transform: rotate(720deg)
        clip: rect(0px, 10px, 10px, 0px)


.root
    position: relative
    overflow: hidden
    display: inline-block
    padding: 0 20px
    box-sizing: border-box
    border: 1px solid #dfe1f0
    border-radius: 2px
    user-select: none
    vertical-align: top
    text-align: center
    font-weight: normal
    font-size: 0
    color: #333
    cursor: pointer
    transition: background 100ms, border-color 100ms, color 100ms

    &:before
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        background: rgba(0,0,0,.2)
        opacity: 0
        transition: opacity 100ms
        content: ''

    &:after
        display: inline-block
        height: 38px
        vertical-align: middle
        content: ''

    &:hover
        text-decoration: none
        box-shadow: inset 0px 1px 0px rgba(255,255,255,.15), 0px 1px 4px rgba(0,0,0,.15)
        &:before
            opacity: 1

    &:active
        outline: none
        box-shadow: inset 0px 1px 4px rgba(0,0,0,.1)
        &:before
            visibility: visible


.text
    position: relative
    display: inline-block
    vertical-align: middle
    line-height: 1
    font-size: 13px

.sizeXS
    //
    &:after
        height: 18px
    .text
        font-size: 11px

.sizeS
    //
    &:after
        height: 28px
    .text
        font-size: 13px

.sizeL
    //
    &:after
        height: 48px
    .text
        font-size: 14px

.sizeXL
    //
    &:after
        height: 48px
    .text
        font-size: 16px
        font-weight: bold
    &.typeContour
        border-width: 2px
        &:after
            height: 46px

.themeRed
    background: #d14836
    border: 1px solid color(#d14836 l(-5%))
    color: #fff

    &:hover,
    &:active
        background: color(#d14836 l(+5%))
        color: #fff
    &.typeContour
        color: #d14836
        &:hover,
        &:active
            color: #fff

.fullWidth
    width: 100%
    padding-right: 5px
    padding-left: 5px


.typeContour
    background: transparent
    color: #333


.root.stateDisabled
    background: #dfe1f0
    border-color: #dfe1f0
    color: rgba(#333, .5)
    &:before
        content: none
    &:hover,
    &:active
        background: #dfe1f0
        color: rgba(#333, .5)
        cursor: default


.root.stateLoading
    pointer-events: none
    &:before
        background: transparent
        visibility: visible
    &:hover
        background: transparent
        color: transparent
        cursor: default
    &:active
        background: transparent
        color: transparent
    .text
        position: static
        color: transparent
        &:before
            position: absolute
            top: 50%
            left: 50%
            width: 20px
            height: 20px
            margin-top: -13px
            margin-left: -13px
            border-radius: 50%
            content: ""
        &:after
            position: absolute
            top: 50%
            left: 50%
            width: 20px
            height: 20px
            margin-top: -13px
            margin-left: -13px
            border-radius: 50%
            border: 3px solid #dfe1f0
            border-radius: 50%
            clip: rect(0px, 10px, 10px, 0px)
            animation: button-spinner 2s linear 0s infinite normal
            content: ""
    &.themeRed .text:after
        border-color: #fff