.root
    border: 1px solid #ededed
    position: relative

.title
    position: relative
    padding: 10px
    border-bottom: 1px solid #ededed
    background: #f7f7f7
    text-align: center
    color: #999
    text-transform: uppercase
    text-shadow: 0 1px 0 #fff
    font-size: 11px

    &:before
        content: ''
        position: absolute
        left: 50%
        margin-left: -10px
        top: 100%
        border: 10px solid transparent
        border-top-color: #ededed
        width: 0
        height: 0

    &:after
        content: ''
        position: absolute
        left: 50%
        margin-left: -9px
        top: 100%
        border: 9px solid transparent
        border-top-color: #f7f7f7
        width: 0
        height: 0

.body
    padding: 20px 0

.bodyRow
    position: relative
    display: flex
    flex-direction: row
    align-items: flex-start

    & + &
        margin-top: 20px

.bodyRowDisabled
    //
    &:after
        position: absolute
        left: 0
        top: 0
        right: 0
        bottom: 0
        background: rgba(255,255,255,0.75)
        content: ''

.column
    position: relative
    flex: 1
    padding: 0 20px


.columnDisabled
    //
    &:after
        position: absolute
        left: 0
        top: 0
        right: 0
        bottom: 0
        background: rgba(255,255,255,0.75)
        content: ''

.row
    position: relative
    & + &
        margin-top: 10px

.rowDisabled
    //
    &:after
        position: absolute
        left: 0
        top: 0
        right: 0
        bottom: 0
        background: rgba(255,255,255,0.75)
        content: ''

.label
    display: block
    margin: 0 0 5px 0
    font-size: 12px
    color: #777

.colorList
    margin: -10px 0 0 -15px
    font-size: 0

.colorItem
    display: inline-flex
    min-height: 30px
    align-items: center
    vertical-align: middle
    margin: 10px 0 0 15px

.selectList
    margin: -10px 0 0 -15px
    font-size: 0

.selectItem
    display: inline-flex
    min-height: 30px
    align-items: center
    vertical-align: middle
    margin: 10px 0 0 15px
