.root
    position: relative


.input
    display: inline-block
    width: 100%
    border: 1px solid #cdcdcd
    box-shadow: none
    border-radius: 3px
    padding: 5px 10px
    box-sizing: border-box
    background: #fff
    vertical-align: middle
    line-height: 18px
    font-size: 13px
    color: #333

    &:disabled
        opacity: .5

        &:hover
            cursor: default

    &[type='number']
        -moz-appearance: textfield
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button
        -webkit-appearance: none

    &:read-only
        pointer-events: none

.input:focus
    border-color: #f67c09

.validation
    display: block
    margin-top: 5px
    font-size: 13px
    color: #EA8885